spring:
  application:
    name: analytics

  docker:
    compose:
      enabled: false

  datasource:
    url: jdbc:postgresql://postgres:5432/analytics?currentSchema=public
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate.jdbc.time_zone: UTC

  kafka:
    bootstrap-servers: kafka:29092
    properties:
      schema.registry.url: http://schema-registry:8081
    consumer:
      group-id: demo-group

  sql:
    init:
      platform: postgres

  data:
    redis:
      host: redis
      port: 6379

finnhub:
  api:
    key: ${API_KEY}

app:
  kafka-topic: transactions

server:
  port: 8082
